@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
        --navbar-height: 65px;
}

body {
        background-color: #000;
        scrollbar-width: thin;
        overflow: auto;
}

::-webkit-scrollbar {
        width: 6px;
}
::-webkit-scrollbar:hover {
        width: 6px;
}

::-webkit-scrollbar-track {
        background: #000;
}

::-webkit-scrollbar-thumb {
        background: #191923; 
        border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
        background-color: #555;
}

.text-pretty {
        text-wrap: pretty;
}

.text-balance {
        text-wrap: balance;
}

/* CSS de área segura de un dispositivo movil */
.app-wrapper {
        padding-top: env(safe-area-inset-top); /* Asegura espacio en la parte superior */
        /*padding-right: env(safe-area-inset-right);*/ /* Espacio seguro en el lateral derecho */
        padding-bottom: env(safe-area-inset-bottom); /* Espacio seguro en la parte inferior */
        /*padding-left: env(safe-area-inset-left);*/ /* Espacio seguro en el lateral izquierdo */
}

.custom-input {
        @apply w-full p-2 text-white bg-transparent border-b focus:outline-none focus:border-blue-600 bg-zinc-400 bg-opacity-10 rounded-t
}

.btn-primary {
        @apply transition w-full py-2 bg-white text-black rounded-lg border border-transparent hover:border-white hover:text-white hover:bg-transparent
}

.btn-secondary {
        @apply transition w-full py-2 bg-transparent text-white rounded-lg border border-transparent hover:border-white hover:text-white hover:bg-transparent
}

/* Estos formateos son para que, cuando el navegador de sugerencias de autocompletado, no cambie el color de fondo de los inputs */
input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #111112 inset !important; /* Cambia el color de fondo */
        -webkit-text-fill-color: #ffffff !important; /* Cambia el color del texto */
}

/* Asegúrate de que los estilos se apliquen también en otros navegadores */
/* Estilos para navegadores basados en Gecko (Firefox) */
input:-moz-autofill {
        box-shadow: 0 0 0 30px #111112 inset !important; /* Cambia el color de fondo */
        -moz-text-fill-color: #ffffff !important; /* Cambia el color del texto */
}

/* Estilos para navegadores de Microsoft (Internet Explorer, Edge) */
input:-ms-autofill {
        box-shadow: 0 0 0 30px #111112 inset !important; /* Cambia el color de fondo */
        -ms-text-fill-color: #ffffff !important; /* Cambia el color del texto */
}

#btnInstall {
        @apply w-full transition-all bg-white text-black rounded-lg py-2 px-4 border border-transparent hover:bg-black hover:text-white hover:border-white;
}